.note-div-parent {
    position: absolute;
    padding: 0.5em; 
    z-index: 2147483647; /* Highest value allowed in Chrome. */
    border-radius: 4px;
    box-shadow: rgb(136, 136, 136) 5px 5px 10px;
    font: 12px helvetica;
}

.note-div { 
    width: 200px; 
    height: 100px; 
    padding: 0.5em; 
    padding-top: 15px;
    text-align: left;
    overflow: auto;
}

.note-div-dark {
    background: rgba( 0, 0, 0, .7 );
    color: rgb( 255, 255, 255 );
}

.note-div-light {
    background: rgba( 255, 255, 255, .7 );
    color: rgb( 0, 0, 0 );
}

.close-note:before {
    content: '✕';
}

.close-note {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.toggle-color-note:before {
    content: '🖌'
}

.toggle-color-note {
    position: absolute;
    top: 2px;
    right: 25px;
    cursor: pointer;
}

.copy-note {
    position: absolute;
    right: 40px;
    top: 3px;
    cursor: pointer;
}

.not-copied:before {
    content: '⎘';
}

.copied:before {
    content: 'Copied ✓';
}
